---
import '../styles/global.css'
import '@fontsource-variable/ibm-plex-sans'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="This page does not exist." />
		<title>404 | Șerban Untu</title>
	</head>
	<body class="flex flex-col items-center justify-center" style="width: 100vw; height: 100vh;">
			<h1 class="text-4xl font-semibold">404</h1>
			<p class="text-lg">This page does not exist.</p>
			<a
				href="/"
				class="hover:bg-muted/20 border rounded-lg transition-colors mt-4 px-8 py-4 block text-center max-w-sm"
				>Back to home</a
			>
	</body>
</html>
