<footer class="w-full max-w-3xl mx-auto flex flex-col gap-4 text-lg px-8 pb-4 text-center">
	<hr />
	<p class="text-sm text-muted-foreground">
		This website is open source. You can find the source code on <a
			href="https://github.com/SerbanUntu/personal-website"
			target="_blank"
			rel="noopener noreferrer"
			class="text-primary underline">GitHub</a
		>.
	</p>
</footer>
