<header class="w-full border-b border-border">
	<nav class="w-full max-w-3xl mx-auto h-full flex-col md:flex-row flex items-center justify-between py-4 px-8 gap-2">
		<a href="/" class="text-2xl font-semibold">Șerban Untu</a>
		<ul class="flex items-center gap-4">
			<li><a href="/" class="hover:underline">Home</a></li>
			<li><a href="/projects" class="hover:underline">Projects</a></li>
			<li>
				<a href="https://www.projectclub.dev/blog" target="_blank" class="hover:underline">Blog</a>
			</li>
			<li><a href="/contact" class="hover:underline">Contact</a></li>
		</ul>
	</nav>
</header>
